.pricing_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}
.title {
  margin-bottom: 1rem;
}
.span {
  display: block;
  text-align: center;
}

.plans {
  height: 540px;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.plan1,
.plan2,
.plan3 {
  background: rgba(170, 190, 209, 0.2);
  width: 400px;
  height: 540px;
  padding: 32px 40px;
}
.price_info {
  text-align: center;
  border-bottom: 1px solid rgba(92, 93, 95, 0.5);
}
.price {
  font-size: 24px;
  font-weight: 400;
  color: rgba(92, 93, 95, 1);
}

.price_details {
  display: flex;
  gap: 16px;
  margin-top: 2rem;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.edit {
  margin-top: -7px;
}
.Divider {
  margin-top: 35px;
  border-bottom: 1px solid rgba(92, 93, 95, 0.5);
}
.subscribe_container {
  text-align: center;
  border: 1px solid var(--btn-color);
  padding: 5px;
  margin-top: 30px;
  background-color: var(--btn-color);
  border-radius: 10px;
}
.subscribe_btn {
  color: #fff;
  text-decoration: none;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .plans {
    height: auto;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 3rem;

    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 876px) {
  .right {
    gap: 55px;
  }
  .plans {
    height: 700px;
    gap: 15px;
    margin-bottom: 3rem;
  }
  .plan1,
  .plan2,
  .plan3 {
    height: auto;
  }
}

@media only screen and (min-width: 876px) and (max-width: 1011px) {
  .icon3,
  .icon4 {
    margin-top: 2rem;
  }
  .plans {
    height: 650px;
    margin-bottom: 3rem;
    gap: 15px;
  }
  .plan1,
  .plan2,
  .plan3 {
    height: auto;
  }
}
@media only screen and (min-width: 1011px) and (max-width: 1049px) {
  .plans {
    height: 600px;
    gap: 15px;
    margin-bottom: 3rem;
  }
  .icon3,
  .icon4 {
    margin-top: 2rem;
  }
  .plan1,
  .plan2,
  .plan3 {
    height: auto;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1270px) {
  .plans {
    gap: 10px;
  }
}
/* @media only screen and (min-width: 768px) and (max-width: 1089px) {
  .plans {
    height: auto;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 3rem;
    align-items: center;
    gap: 20px;
  }
} */
