.main_container {
  margin: 1rem 10rem 5rem;
  height: 900px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main1,
.main2,
.main3 {
  background-image: url("../../../public/Background.svg");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 33%;
  color: #fff;
  border-radius: 10px;
}
.lessons {
  width: 138px;
  height: 42px;
  padding: 2px 20px;
  border-radius: 10px;
  border: 1px solid var(--btn-color);
  color: #fff;
  background-color: var(--btn-color);
  text-decoration: none;
}
.lessons:hover {
  background-color: #fff;
  color: var(--btn-color);
}
/* Responsive */
@media only screen and (max-width: 600px) {
  .main_container {
    margin: 25rem 1rem 3rem 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .main_container {
    margin: 25rem 1rem 3rem 1rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 992px) {
  .main_container {
    margin: 1rem 2rem 3rem;
  }
}
