.header_container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 785px;
}

/* .test {
  background-image: url("../../../public/headercontainer.svg");
  height: 700px;
  position: relative;
  margin-top: 6rem;
} */

.right_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 9.375rem 12rem 0 0;
  gap: 16px;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  width: 500px;
  line-height: 80px;
}

.span {
  color: var(--btn-color);
}
.content {
  width: 566px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(92, 93, 95, 1);
}

.left_section {
  width: 50%;
}

.mr_omar {
  object-fit: cover;
  width: 455px;
  margin: 5.4375rem 5rem 0 0;
}

.teacher {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.icons_container {
  margin: 7rem auto;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.icon1_container,
.icon2_container,
.icon3_container {
  width: 367px;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 64px 40px 64px 64px;
}
.icon2_container {
  background-color: rgba(170, 190, 209, 0.2);
  border-radius: 10px;
}
.icon1_container:hover,
.icon2_container:hover,
.icon3_container:hover {
  background: var(--btn-color);
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}
.icon_content {
  font-size: 16px;
  color: rgba(92, 93, 95, 1);
}

.Vector1 {
  position: absolute;
}
/* Rresponsive */

/* Medium and small devices ( 768px and down) */
@media only screen and (max-width: 800px) {
  .icons_container {
    display: flex;
    flex-direction: column;
    margin-top: 25rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 970px) {
  .icon1_container,
  .icon2_container,
  .icon3_container {
    padding: 30px;
  }
  .icon_content {
    line-height: 30px;
  }
}
