.header_container {
  background: rgba(39, 57, 74, 1);
  color: #fff;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  position: relative;
  margin-top: 6rem;
}
.test {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content_container {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  gap: 20px;
}
.content_title {
  width: 776px;
  height: 100px;
  font-family: var(--firstFont);
  font-size: 64px;
  font-weight: 400;
  text-align: center;
}
.content {
  width: 775px;
  height: 85px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.search_container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50px;
  width: 480px;
  height: 60px;
}

.input_search {
  border: none;
  background-color: transparent;
  font-size: 18px;
  flex-grow: 1;
  padding-left: 10px;
  outline: none;
  color: #aaa;
  margin-right: 25px;
}

.search {
  background-color: #ff6d3b;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  height: 100%;
  width: 150px;
}
/* ////////////////////////////// */

.lectures_container {
  width: 70%;
  margin: 4rem auto;
}
.lectures_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.lecture_card {
  border: 1px solid #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
}

.lecture_image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.duration {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.watch {
  background-color: var(--btn-color);
  color: #fff;
  border: none;
  padding: 4px 120px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 45px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem;
}
.time {
  font-size: 18px;
  color: rgba(92, 93, 95, 1);
  font-weight: 400;
}
.lecture_title {
  text-align: right;
  font-size: 24px;
  font-weight: 600;
}
.lecture_description {
  text-align: right;
  width: 328px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(92, 93, 95, 1);
}

@media only screen and (max-width: 800px) {
  .content_title {
    font-size: 55px;
  }
  .content {
    width: 550px;
  }
  .search_container {
    margin-top: 3rem;
  }
  .lectures_grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .lectures_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .lectures_container {
    width: 90%;
    margin: 4rem auto 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .lectures_container {
    width: 90%;
    margin: 4rem 1rem 3rem;
  }
}
